div.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  transition: 0.2s ease-in;
}

div.wrapper::before {
  content: ' ';
  background-color: var(--bluePE);
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: -1;
  top: 0;
}

div.wrapper nav {
  margin-bottom: 16px;
}

div.wrapper nav a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  transition: all 0.2s ease-in;
  margin: 0 20px;
}

div.wrapper nav a:hover {
  color: var(--redPE);
  padding: 3px;
  transform: scale(105%);
}

div.Links {
  transform: translateY(-40px);
}

div.Links img {
  height: 150px;
  width: 260px;
  margin-top: -30px;
  align-items: left;
  transform: translateX()
}

div.Links hr {
  display: none;
}

@media (max-width: 900px) {
  div.Links hr{
    margin-top: -1px;
    border: 2px solid var(--white);
    display: block;
  }
}

@media (max-width: 900px) {
  div.wrapper {
    background-color: var(--bluePE);
    width: 100%;
    height: 330px;
    margin-bottom: 60px;
  }
}

@media (max-width: 900px) {
  div.wrapper nav a {
    text-align: center;
    display: block;
    font-size: 17px;
  }
}

@media (max-width: 360px) {
  div.wrapper nav a {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  div.wrapper nav img {
    transform: translateX(0px) scale(85%);
  }
}
