.horarios{
  display: flex;
  justify-content: space-around;
}

.table{
  border: 2px solid teal;
  max-width: 1000px;
}

tbody tr:nth-child(even){
  background-color: teal;
  color: white;
}

@media (max-width: 1100px) {
  .table {
    margin: 10px;
  }
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }

  .table td{
    text-align: right;
    padding-left: 50%;
    position: relative;
    padding-right: 15px;
  }
  table td::before{
    content: attr(data-title) ": ";
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}